{% extends 'base.html' %}

{% block content %}
    <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим {{ departures[departure] }}</h1>{# Отображаю полученный результат #}
        <p class="mb-4">Найдено {{ tour_doct | length }}, от {{ price | min }} до {{ price | max }} и от {{ nights | min }} ночей до {{ nights | max }} ночей</p>
<!-- CARDS -->
        <div class="row mt-5">
        {% for id, val_tour in tour_doct.items() %}
            <div class="col-4">
                <div class="card mb-4">
                    <img src="{{ val_tour.picture }}" class="card-img-top img-fluid" alt="" />
                    <div class="card-body">
                        <h2 class="h5 card-title">{{ val_tour.title }}</h2>
                        <p class="card-text">{{ val_tour.description | truncate(110) }}</p>
                        <a href="{{ url_for("render_tour", id=id) }}" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
