{% extends 'base.html' %}

{% block content %}
    <main class="container mt-3">
        <!-- HERO -->
        <section class="jumbotron jumbotron_css text-center mt-4">
            <h1 class="display-4">Всякие туры</h1>
            <p class="lead">{{ subtitle }}</p>
            <p class="mt-5 w-50 mx-auto">{{ description }}</p>
        </section>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for item in tours %}
            <div class="col-4">
                <div class="card mb-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="{{ item.picture }}" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="h5 card-title">{{ item.country }}: {{ item.title }}</h2>
                        <p class="card-text">{{ item.description | truncate(90) }}</p>
                        <a href="https://www.tripadvisor.ru/Hotel_Review-g297930-d305178-Reviews-Amari_Phuket-Patong_Kathu_Phuket.html" class="btn btn-sm btn-primary">Подробнее</a>
                        <div class="date_stars_info">
                            <p class="info_hotel">{{ item.date }}, {{ item.nights }} дней, {{ item.price }} Р</p> <p class="stars">{{ item.stars }} <img class="stars_icon" src="{{ url_for('static', filename='icons/star_point_icon.svg') }}" alt="" /></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

