{% extends 'base.html' %}

{% block content %}
    <main class="container mt-3">
        <!-- HERO -->
        <section class="jumbotron jumbotron_css text-center mt-4">
            <h1 class="display-4">Всякие туры</h1>
            <p class="lead">{{ subtitle }}</p>
            <p class="mt-5 w-50 mx-auto">{{ description }}</p>
        </section>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for id, tour in tours.items() %}
                {% if id < 10 %}
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
                        </div>
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ tour.country }}: {{ tour.title }}</h2>
                            <p class="card-text">{{ tour.description | truncate(90) }}</p>
                            <a href="{{ url_for('render_tour', id=id) }}" class="btn btn-sm btn-primary">Подробнее</a>
                            <div class="date_stars_info">
                                <p class="info_hotel">{{ tour.date }}, {{ tour.nights }} дней, {{ tour.price }} Р</p> <p class="stars">{{ tour.stars }} <img class="stars_icon" src="{{ url_for('static', filename='icons/star_point_icon.svg') }}" alt="" /></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}

                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

